/* style title */
#movie-title 
{
    margin-top: 1rem; 
    text-align: center;
}

/* style cards image and plots */
.card 
{   
    background: whitesmoke;
    color: #D6A419;
    border: none;
}

.card.dark-mode
{
    background: #2E4159;
    color: #D6A419;
}

.card-img-top {
    width: 15rem;
}

#plot
{   
    font-size: 1em;
}

/* buttons next and previous */
.btn-custom
{   
    width: 2rem;
    text-transform: uppercase;
    color: #D6A419;
}

.btn-custom:hover
{
    color: #E10600;
}

.title
{
    width: 100%;
}

/* style form booking */
#booking
{
    color: #D6A419;
    margin-bottom: 2.5rem;
}

#form-group 
{
    margin-bottom: 1.2rem;
}

label
{
    margin: 1rem 0 0.3rem;
}

#emailHelp {
    font-size: .8rem;
    color: #D6A419;
}

#date-picker 
{
    width: 11rem;
}

.btn-submit
{   
    margin: 1rem;
    text-align: center;
}

.btn-book
{
    background-color: #D6A419;
    padding: 1rem;
    color: #2E4159;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5ch;
}

.btn-book:hover
{
    padding: 1.2rem;
    color: #E10600;
}