/* override different browsers default settings */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background: #2E4159 url("../images/pexels-cottonbro-studio-3945321.jpg") no-repeat fixed center;
    background-size: cover;
}

/* Navbar style */
.bg-custom-dark 
{
    background-color: #17212D;
}

.nav-link, 
.dropdown-item,
.fa-magnifying-glass
{
    color: #D6A419;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link:hover 
{
    color: #E10600;
}

.dropdown-item 
{
    font-size: 1rem;
}

.dropdown-item:hover
{
    background-color: #17212D;
    color: #E10600;
}

.custom-toggler .navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214, 164, 25, .8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler,
.navbar-toggler:focus
{
    border-color: #D6A419;
}

/* style search bar */
.search-bar 
{
    max-width: 40rem;
}

.input-group 
{   
    justify-content: center;
}

#search-btn:hover
{
    background-color: #2E4159;
}


/* change background image size with bigger screens */
@media screen and (min-width: 900px) {
    body {
        background-size: contain;
    }
}
